

<div class="jumbotron">
    <h1>NPM Official And Scientific Package Suggester</h1>
    <p></p>
</div>


<form method="POST" action="/search">
    What are you searching for?
    <input type="text" id="search_box" name="query" value=""> <br>
    <input type="submit" value="Enter">
</form>
<hr>
    <h4> OR </h4>
<hr>
<form method="POST" action="/search/lucky">
    <input type="submit" value="I'm Feeling Astronomically Lucky">
</form>